@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");
body {
  background-color: #fff;
  font-family: "Montserrat", "Open Sans", sans-serif;
  font-style: normal;
  font-size: 16px;
  color: #222222;
}

h1,
h2,
h3,
h4,
h5 {
  color: #0d3b69;
  font-weight: bold;
  line-height: 1.3;
  text-transform: none;
}

h1, .internals-titles {
  text-transform: uppercase;
}

p {
  color: #222222;
  line-height: 1.3;
  word-wrap: break-word;
}

a {
  color: #ffcc00;
  line-height: 1.3;
  text-decoration: none;
  transition: all 0.3s ease;
}

a:hover, a:active, a:focus {
  color: #ffcc00;
  text-decoration: underline;
}

::selection {
  background: #0d3b69;
  color: #fff;
}

.clearfix::after {
  clear: both;
  content: '';
  display: table;
}

.text-white {
  color: #fff;
}

.full-wd {
  width: 100%;
}

.no-margin {
  margin: 0px;
}

.no-padding {
  padding-left: 0px;
  padding-right: 0px;
}

.visible-full-hd {
  display: none !important;
}

.featured-jobs {
  padding-bottom: 50px;
}

.no-break {
  white-space: nowrap;
}

img {
  margin: 0 auto;
}

video {
  width: 100%;
  display: block;
}

.aligned-text {
  text-align: center;
}

ul.aligned-list {
  padding: 0px;
  list-style: none;
  text-align: center;
}

:lang(en-US) body .hidden-en {
  display: none;
}

@media (min-width: 576px) and (max-width: 767.9px) {
  .container {
    max-width: none;
  }
}

@media (min-width: 768px) {
  .featured-jobs {
    padding-bottom: 100px;
  }
  .aligned-text {
    text-align: left;
  }
  ul.aligned-list {
    padding-left: 40px;
    list-style: disc;
    text-align: left;
  }
}

@media (min-width: 1920px) {
  .hidden-full-hd {
    background: none !important;
    height: auto !important;
  }
  .visible-full-hd {
    display: block !important;
  }
}

@keyframes animationRight {
  from {
    transform: translateX(0);
  }
  50% {
    transform: translateX(6px);
  }
  to {
    transform: translateX(0);
  }
}

header {
  background-color: #0d3b69;
  position: relative;
}

header .navbar-brand {
  width: 100%;
  max-width: 200px;
}

header .navbar {
  padding: 15px 0px;
}

header .navbar .navbar-toggler {
  background-color: transparent;
  padding: 0px;
  border-radius: 0px;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  transition: all ease 0.3s;
  z-index: 10;
}

header .navbar .navbar-toggler .icon-bar {
  display: block;
  background: #fff;
  height: 3px;
  width: 25px;
  transition: all ease 0.3s;
  transform-origin: center center;
}

header .navbar .navbar-toggler .icon-bar.middle {
  height: 0px;
  opacity: 0;
  margin: 4px 0px;
}

header .navbar .navbar-toggler .icon-bar.top {
  transform: rotate(45deg);
  margin-bottom: -5.5px;
}

header .navbar .navbar-toggler .icon-bar.bottom {
  transform: rotate(-45deg);
  margin-top: -5.5px;
}

header .navbar .navbar-toggler.collapsed .icon-bar {
  transform: rotate(0deg);
  transform-origin: center;
  width: 25px;
}

header .navbar .navbar-toggler.collapsed .icon-bar.middle {
  opacity: 1;
  height: 3px;
}

header .navbar .navbar-toggler.collapsed .icon-bar.top {
  margin-bottom: 0px;
}

header .navbar .navbar-toggler.collapsed .icon-bar.bottom {
  margin-top: 0px;
}

header .navbar .navbar-toggler:focus {
  outline: none;
}

header .navbar .navbar-collapse {
  position: fixed;
  z-index: 5;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: rgba(0, 0, 0, 0.9);
  height: 100% !important;
  transform: translateX(-100%);
  transition: all ease 0.5s;
}

header .navbar .navbar-collapse ul.navbar-nav {
  padding: 30px 0px 30px 0px;
  opacity: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: all ease 0.5s 0.5s;
}

header .navbar .navbar-collapse ul.navbar-nav li .nav-link {
  font-size: 30px;
  font-weight: 700;
  padding-left: 0px;
  padding-right: 0px;
  text-transform: capitalize;
  color: #fff;
  letter-spacing: 1.5px;
  position: relative;
  transition: all ease 0.5s;
  text-align: center;
}

header .navbar .navbar-collapse ul.navbar-nav li .nav-link::before {
  content: '';
  height: 4px;
  width: 0px;
  background: #fff;
  position: absolute;
  bottom: -3px;
  top: auto;
  left: 50%;
  right: auto;
  transition: all ease 0.5s;
}

header .navbar .navbar-collapse ul.navbar-nav li .nav-link:hover, header .navbar .navbar-collapse ul.navbar-nav li .nav-link:active, header .navbar .navbar-collapse ul.navbar-nav li .nav-link:focus {
  color: #fff;
}

header .navbar .navbar-collapse ul.navbar-nav li .nav-link:hover:before, header .navbar .navbar-collapse ul.navbar-nav li .nav-link:active:before, header .navbar .navbar-collapse ul.navbar-nav li .nav-link:focus:before {
  width: 100%;
  left: 0;
}

header .navbar .navbar-collapse ul.navbar-nav li .nav-link.dropdown-toggle::after {
  margin-left: 0px;
}

header .navbar .navbar-collapse ul.navbar-nav li.active .nav-link {
  color: #fff;
}

header .navbar .navbar-collapse ul.navbar-nav li.active .nav-link:before {
  width: 100%;
  left: 0;
}

header .navbar .navbar-collapse ul.navbar-nav li.dropdown .dropdown-menu {
  background: transparent;
}

header .navbar .navbar-collapse.show {
  transform: translateX(0);
}

header .navbar .navbar-collapse.show ul {
  opacity: 1;
}

header .navbar .navbar-collapse.collapsing ul {
  opacity: 0;
}

@media (min-width: 768px) {
  header .navbar-expand-md .navbar-toggler {
    display: none;
  }
  header .navbar-expand-md .navbar-collapse {
    position: relative;
    height: auto !important;
    width: auto !important;
    transform: translateX(0);
    background: transparent;
  }
  header .navbar-expand-md .navbar-collapse ul.navbar-nav {
    height: auto;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0px;
    opacity: 1 !important;
    transition: none;
  }
  header .navbar-expand-md .navbar-collapse ul.navbar-nav li .nav-link {
    padding: 0px;
    font-size: 16px;
  }
  header .navbar-expand-md .navbar-collapse ul.navbar-nav li .nav-link::before {
    height: 3px;
  }
  header .navbar-expand-md .navbar-collapse ul.navbar-nav li + li {
    margin-left: 30px;
  }
  header .navbar-expand-md .navbar-collapse ul.navbar-nav li.dropdown .dropdown-menu {
    background: #fff;
    top: calc(100% + 10px);
  }
  header .navbar-expand-md .navbar-collapse ul.navbar-nav li.dropdown .dropdown-menu .nav-link {
    padding: 15px;
    color: #222222;
    text-align: left;
  }
}

.primary-button, .btn-default, .btn-general {
  background-color: #ffcc00;
  color: #fff;
  padding: 8.5px 15px;
  border: none;
  border-radius: 0px;
  font-size: 18px;
  line-height: 1.5;
  text-decoration: none;
  text-align: center;
  outline: none;
  transition: all 0.3s ease;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.primary-button:hover, .primary-button:active, .primary-button:focus, .btn-default:hover, .btn-default:active, .btn-default:focus, .btn-general:hover, .btn-general:active, .btn-general:focus {
  color: #fff;
  background-color: #d9ad00;
  text-decoration: none;
}

.primary-button.active.focus, .primary-button.active:focus, .primary-button.active:hover, .primary-button:active.focus, .primary-button:active:focus, .primary-button:active:hover, .btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .btn-general.active.focus, .btn-general.active:focus, .btn-general.active:hover, .btn-general:active.focus, .btn-general:active:focus, .btn-general:active:hover {
  background-color: #ffcc00;
  color: #fff;
  padding: 8.5px 15px;
  border: none;
  border-radius: 0px;
  font-size: 18px;
  line-height: 1.5;
  text-decoration: none;
  text-align: center;
  outline: none;
  transition: all 0.3s ease;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.primary-button.active.focus:hover, .primary-button.active.focus:active, .primary-button.active.focus:focus, .primary-button.active:focus:hover, .primary-button.active:focus:active, .primary-button.active:focus:focus, .primary-button.active:hover:hover, .primary-button.active:hover:active, .primary-button.active:hover:focus, .primary-button:active.focus:hover, .primary-button:active.focus:active, .primary-button:active.focus:focus, .primary-button:active:focus:hover, .primary-button:active:focus:active, .primary-button:active:focus:focus, .primary-button:active:hover:hover, .primary-button:active:hover:active, .primary-button:active:hover:focus, .btn-default.active.focus:hover, .btn-default.active.focus:active, .btn-default.active.focus:focus, .btn-default.active:focus:hover, .btn-default.active:focus:active, .btn-default.active:focus:focus, .btn-default.active:hover:hover, .btn-default.active:hover:active, .btn-default.active:hover:focus, .btn-default:active.focus:hover, .btn-default:active.focus:active, .btn-default:active.focus:focus, .btn-default:active:focus:hover, .btn-default:active:focus:active, .btn-default:active:focus:focus, .btn-default:active:hover:hover, .btn-default:active:hover:active, .btn-default:active:hover:focus, .btn-general.active.focus:hover, .btn-general.active.focus:active, .btn-general.active.focus:focus, .btn-general.active:focus:hover, .btn-general.active:focus:active, .btn-general.active:focus:focus, .btn-general.active:hover:hover, .btn-general.active:hover:active, .btn-general.active:hover:focus, .btn-general:active.focus:hover, .btn-general:active.focus:active, .btn-general:active.focus:focus, .btn-general:active:focus:hover, .btn-general:active:focus:active, .btn-general:active:focus:focus, .btn-general:active:hover:hover, .btn-general:active:hover:active, .btn-general:active:hover:focus {
  color: #fff;
  background-color: #d9ad00;
  text-decoration: none;
}

.social-items {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.social-items li {
  padding-left: 5px;
  padding-right: 5px;
}

.social-items li:first-child {
  padding-left: 0px;
}

.social-items li:last-child {
  padding-right: 0px;
}

.custom-social {
  font-size: 24px;
  color: #fff;
  background-color: #0d3b69;
  height: 35px;
  width: 35px;
  border-radius: 100%;
  border: 1px solid #ffcc00;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.custom-social:hover, .custom-social:active, .custom-social:focus {
  color: #fff;
  background-color: #ffcc00;
  text-decoration: none;
}

.facebook-icon:hover, .facebook-icon:active, .facebook-icon:focus {
  color: #fff;
  background: #3d5b9b;
  border: 1px solid #3d5b9b;
}

.twitter-icon:hover, .twitter-icon:active, .twitter-icon:focus {
  color: #fff;
  background: #61a9db;
  border: 1px solid #61a9db;
}

.linkedin-icon:hover, .linkedin-icon:active, .linkedin-icon:focus {
  color: #fff;
  background: #0e76b5;
  border: 1px solid #0e76b5;
}

.youtube-icon:hover, .youtube-icon:active, .youtube-icon:focus {
  color: #fff;
  background: #e52e2a;
  border: 1px solid #e52e2a;
}

.instagram-icon:hover, .instagram-icon:active, .instagram-icon:focus {
  color: #fff;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  border: 1px solid #fd5949;
}

.pinterest-icon:hover, .pinterest-icon:active, .pinterest-icon:focus {
  color: #fff;
  background: #cb2027;
  border: 1px solid #cb2027;
}

.rss-icon:hover, .rss-icon:active, .rss-icon:focus {
  color: #fff;
  background: linear-gradient(135deg, #ff4d03 20%, #ffb67c 40%, #ff4d03 100%);
  border: 1px solid #ff4d03;
}

.glassdoor-icon:hover, .glassdoor-icon:active, .glassdoor-icon:focus {
  color: #fff;
  background: #7cb229;
  border: 1px solid #7cb229;
}

/*KEYFRAMES*/
@keyframes moveDown {
  from {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  to {
    transform: translateY(0px);
  }
}

/*CLASES*/
.animated {
  transition: all ease 1s;
}

.animated.opacity {
  opacity: 0;
}

.animated.opacity.in {
  opacity: 1;
}

.animated.opacity-up {
  opacity: 0;
  transform: translateY(50px);
}

.animated.opacity-up.in {
  opacity: 1;
  transform: translateY(0px);
}

.animated.opacity-arrow {
  opacity: 0;
  transform: translateY(-50px) rotate(90deg);
}

.animated.opacity-arrow.in {
  opacity: 1;
  transform: translateY(0px) rotate(90deg);
}

.animated.opacity-down {
  opacity: 0;
  transform: translateY(-50px);
}

.animated.opacity-down.in {
  opacity: 1;
  transform: translateY(0px);
}

.animated.opacity-right {
  opacity: 0;
  transform: translateX(-50px);
}

.animated.opacity-right.in {
  opacity: 1;
  transform: translateX(0px);
}

.animated.opacity-left {
  opacity: 0;
  transform: translateX(50px);
}

.animated.opacity-left.in {
  opacity: 1;
  transform: translateX(0px);
}

.animated.scale {
  transform: scale(0);
}

.animated.scale.in {
  transform: scale(1);
}

.animated.scale.uni-view {
  transform-origin: center;
  transition: all ease 0.5s;
}

@media (min-width: 768px) {
  .animated.opacity-arrow {
    opacity: 0;
    transform: translateX(-50px) rotate(0deg);
  }
  .animated.opacity-arrow.in {
    opacity: 1;
    transform: translateX(0px) rotate(0deg);
  }
}
/*# sourceMappingURL=main.css.map */