header {
	background-color: transparent;
	position: absolute;
	top: 0;
	bottom: auto;
	left: 0;
	right: 0;

	.navbar {
		padding: 20px 0px 0px 0px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;

		.navigation{
			list-style: none;
			padding: 0;
			margin: 0;
			display: flex;
			justify-content: center;
			align-items: center;

			li+li{
				margin-left: 20px;
			}

			a{
				color: $white;
				position: relative;
				&::after{
					content: '';
					height: 1px;
					width: 0;
					background: $white;
					display: block;
					position: absolute;
					bottom: -2px;
					top: auto;
					right: 0;
					left: auto;
					transition: width ease 0.3s;
				}

				@include on-event{
					text-decoration: none;

					&::after{
						width: 100%;
						left: 0;
						right: auto;
					}
				}
				
				&.btn-transparent{
					background: transparent;
					background: 9px 18px;
					border: 2px solid $white;
					font-weight: 400;

					&::after{
						display: none;
					}

					@include on-event{
						background: $white;
						color: $primary-color;
					}
				}
			}
		}
	}

}

.navbar-brand{
	font-family: $secondary-font;
	font-size: 20px;
	text-transform: uppercase;
	color: $white;
	font-weight: 700;
	padding: 0;
	margin: 0;

	@include on-event{
		opacity: 0.8;
		color: $white;
	}
}

@media (min-width: 768px){
	header{
		.navbar{
			padding-top: 40px;
			justify-content: space-between;
		}
	}
}