/// -----------------------------------------------------------------------------
/// This file contains CSS helper classes.
/// -----------------------------------------------------------------------------

/// Clear inner floats
.clearfix::after{
  clear: both;
  content: '';
  display: table;
}


.no-margin{
  margin: 0px;
}

.no-padding{
  padding-left: 0px;
  padding-right: 0px;
}

/// No break words
.no-break{
  white-space: nowrap;
}

/// Center images
img{
  margin: 0 auto;
}

/// Videos Full Width
video{
  width: 100%;
  display: block;
}

.aligned-text{
  text-align: center;
}

/// Infinite animation from left to right
@-webkit-keyframes animationRight{
  from{
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  50%{
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  to{
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes animationRight{
  from{
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  50%{
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  to{
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
