// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Fonts
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Montserrat', sans-serif;

/// Font-size
$body-font-size: 14px;
$buttons-font-size: 14px;

/// Copy text
/// @type Color
$text-color: #666666 !default;

/// Default colors
$white: #fff;
$black: #000;
$grey: #ccc;
$wrongurl-color: #eee;

// Company color pallete
$primary-color: #FF4E50; //red
$secondary-color: #19D4CA; //teal
$third-color: #FFA710; //orange
$fourth-color: #667DF3; //purple

// Button and hover color
$btn-color: $primary-color;
$hover-color: $fourth-color;
// $internals-links: $hover-color;

$body-color: $white;


$base-url: '/assets/' !default;
